[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
fastapi = "*"
python-jose = "*"
passlib = "*"
python-multipart = "*"
bcrypt = "*"
sqlalchemy = "*"
uvicorn = "*"
alembic = "*"
psycopg2-binary = "*"
pytest = "*"
requests = "*"

[requires]
python_version = "3.7"

[scripts]
db_migrations = "alembic upgrade head"
webserver = "uvicorn main:app --host 0.0.0.0 --port 8000 --reload"
